/* Themify Customize Styling */
body {	
	font-family: "Open Sans";	font-weight:300;
 
}
h1 {	
	font-family: "Open Sans";	font-weight:bold;
	letter-spacing:4px;
	font-size:80px;
 
}
h2 {	
	font-family: "Open Sans";	font-weight:600;

	color: #4d4d4d; 
}
#headerwrap {	background: none;
	background-color: #3b3b3b; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: rgba(0,0,0,0.45); 
}
body #site-logo a {	
	font-family: "Open Sans";	font-weight:bold;
	font-size:24px;

	color: #ffffff; 
}
#main-nav {		position:relative;

	top: 3px; 
}
#main-nav a {	
	font-family: "Open Sans";	font-weight:300;
	font-size:16px;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #e6e6e6; 
}
#footerwrap {	background: none;
	background-color: #292929; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
